@charset "utf-8";
/* Reset CSS */
*{margin: 0; padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;}
/* Style CSS */
nav {width: 200px;}
nav > ul > li {box-shadow: 0 0 1px rgba(0,0,0,0.3); height: 50px; overflow: hidden; transition: height 0.5s;}
nav > ul > li > a {display: block; text-indent: 10px; line-height: 50px; color: #fff; font-size: 22px; font-weight: bold; background-color: #4150ad;}
nav ul ul li {border-top: 1px solid #ccc; height: 36px; box-sizing:border-box;}
nav ul ul li:first-child {border-top: none;}
nav ul ul li a {display: block; line-height: 36px; color: #fff; text-indent: 20px; font-size: 14px; background-color: #8a94d4;}
nav ul ul li a.on {background-color: #4150ad;}